<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/metadata'); %>
</head>
<body>
    <form action="/new" method="POST">
        <%- include('components/header'); %>
        <label for="name">
            <span>Username:</span>
            <input type="text" id="name" name="name" required />
        </label>
        <label for="message">
            <span>Message:</span>
            <textarea type="text" id="message" name="message" required></textarea>
        </label>
        <br>
        <button type="submit">Submit</button>
    </form>    
</body>
</html>